/*background image and font colour*/
body {
    background: url('../images/adhd-background.webp') no-repeat bottom center/cover;
    color: white;
}

/*flex properties to add scroll and keep footer to bottom and header to top*/
#flx {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}

/*basic layout for header, footer and main content*/
header {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid black;
    font-size: 150%;
    background: rgb(106, 90, 205);
}

main {
    text-align: center;
    font-size: 150%;
    margin-bottom: 1em;
}

#footer {
    text-align: center;
    background-color: rgb(106, 90, 205);
    width: 80%;
    margin-left: 10%;
}

/*layout for header and logo*/
.logo, .header {
    height: 2em;
    width: auto;
    display: inline-block;
}

.logo {
    height: 2em;
    width: 2em;
}
/*layout for quiz box*/
.quiz {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid black;
    padding-top: 2em;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(106, 90, 205);
}

/*layout for all result metrics*/
#metric{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.metric {
    width: 30%;
    display: flex;
    margin: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
} 

#adhd-result {
    background-color: rgb(106, 90, 205); 
    color: white;
    width: 80%;
    margin-left: 10%;
    padding: 5px;
}

#conduct-result {
    background-color: rgb(82, 1, 0);
    color: white;
    padding: 5px;
}

#learning-result {
    background-color: rgb(254, 194, 98);
    color: black;
    padding: 5px;
}

#psychosomatic-result {
    background-color: rgb(255, 124, 82);
    color: black;
    padding: 5px;
}

#hyper-result {
    background-color: rgb(206, 60, 60);
    color: black;
    padding: 5px;
}

#anxiety-result {
    background-color: rgb(140, 0, 45);
    color: white;
    padding: 5px;
}

/*hide table to keep scores hidden*/
#hidden-table {
    display: none;
} 

/*huide reveal answers button until end*/
#reveal {
    display: none;
}

/*layout for questions and answer boxes*/
label {
    float: left;
    padding-left: 10px;
    margin-left: 10px;
}

select {
    float: right;
    padding-right: 10px;
    margin-right: 10px;
}

/*link colours for other resources*/
a {
    color: white;
}

a:hover {
    color: black;
}

/*responsive settings for smaller screens*/
@media screen and (max-width: 1980px) {
    body {
        background: url('../images/adhd-background1512.webp') no-repeat bottom center/cover;
    }
}

@media screen and (max-width: 900px) {
    #metric, header, #footer, .quiz {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
    }

    #metric {
        display: flex;
    }

    .metric {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    } 

    body {
        background: url('../images/adhd-background1512.webp') no-repeat bottom center/cover;
    }
}

@media screen and (max-width: 450px) {
    body {
        background: url('../images/adhd-background450.webp') no-repeat bottom center/cover;
    }
}
