body {
    background: white;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    background: rgba(106, 90, 205, 0.65)
}

main {
    text-align: center;

}

p {
    text-align: center;
}

.logo, .header {
    height: 2em;
    width: auto;
    display: inline-block;
}

.quiz {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid black;
    padding: 1px;
    width: 80%;
    margin-left:10%;
    background-color: rgba(106, 90, 205, 0.65);
}

#hidden-table {
    visibility: collapse;
}