body {
    background: url('../images/adhd-background.jpg');
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    background: rgba(106, 90, 205, 0.65)
}

main {
    text-align: center;
    height: 80%;
    margin-bottom: 1em;
}

footer {
    bottom: 0px;
}

#footer {
    text-align: center;
    background-color: rgba(106, 90, 205, 0.65);
}

.logo, .header {
    height: 2em;
    width: auto;
    display: inline-block;
}

.logo {
    height: 2em;
    width: 2em;
}

.quiz {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid black;
    padding-top: 2em;
    width: 90%;
    height: 80%;
    margin: 5%;
    background-color: rgba(106, 90, 205, 0.65);
}
#metric{
    display: flex;
}

.metric {
    width: 35%;
    display: flex;
    margin: 1em;
    flex-direction: column;
    flex-wrap: wrap;
}

#adhd-result {
    background-color: rgba(106, 90, 205, 0.8); 
}

#conduct-result {
    background-color: rgba(82, 1, 0, 0.8);
    color: white;
}

#learning-result {
    background-color: rgba(254, 194, 98, 0.8);
}

#psychosomatic-result {
    background-color: rgba(255,124,82, 0.8);
}

#hyper-result {
    background-color: rgba(206,60,60, 0.8);
}

#anxiety-result {
    background-color: rgba(140,0,45, 0.8);
    color: white;
}

label {
    float: left;
}

select {
    float: right;
}

#quiz {
    height: 30%;
}